/* Sternebewertung */
span#Bewertung label {
  line-height: 45px;
  cursor: Pointer;
}
/* span#Bewertung input[type="radio"] { */
/*display: None;*/
/* } */
p.sternebewertung {
  float: Left;
}

p.sternebewertung:not(:checked) > input {
  display: None;
}

p.sternebewertung:not(:checked) > label {
  float: Right;
  width: 1em;
  padding: 0 0.1em;
  overflow: Hidden;
  white-space: Nowrap;
  cursor: Pointer;
  font-size: 200%;
  line-height: 1.2;
  color: #d0d0d0;
  text-shadow: 1px 1px #b0b0b0, 2px 2px #606060,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

p.sternebewertung:not(:checked) > label::before {
  content: "★ ";
}

p.sternebewertung > input:checked ~ label {
  color: #ffd700;
  text-shadow: 1px 1px #c06000, 2px 2px #904000,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  animation: twinkle 1s ease-in-out infinite alternate;
}

p.sternebewertung:not(:checked) > label:hover,
p.sternebewertung:not(:checked) > label:hover ~ label {
  color: #fecf41;
  text-shadow: 1px 1px #f29e02, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

p.sternebewertung > input:checked + label:hover,
p.sternebewertung > input:checked + label:hover ~ label,
p.sternebewertung > input:checked ~ label:hover,
p.sternebewertung > input:checked ~ label:hover ~ label,
p.sternebewertung > label:hover ~ input:checked ~ label {
  color: #fbb600;
  text-shadow: 1px 1px #f8ba01, 2px 2px #b57340,
    0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
}

@keyframes twinkle {
  to {
    text-shadow: 1px 1px #ffe653, 2px 2px #fff5bf,
      0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  }
}
.cancel-container {
  text-align: center;
}
.cancel-btn {
  margin-right: 10px !important;
}