.box1 {
  margin-top: 5rem;
  text-align: center;
}
.gallery-btn {
  background-color: #df485b;
  font-size: 1.3rem;
  border-radius: 10px;
  width: 70%;
  margin: 0;
}
.box2 {
  display: flex;
  justify-content: center;
}
.btg {
  color: black !important;
}
