.box1 {
  margin-top: 5rem;
  text-align: center;
}
.ce-gallery-btn {
  background-color: #df485b;
  font-size: 1.3rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width: 70%;
  margin: 0;
}
.ce-gallery-btn:hover {
  // box-shadow: none !important;
  cursor: pointer;
}
.box2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none !important;
}
.box2:hover {
  box-shadow: none !important;
}