.btns-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.totals {
  margin-bottom: 1rem;
}

.cb-total {
  margin-bottom: 0 !important;
}
.cb-estimate-total {
  margin-bottom: 1.5rem;
}
.btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cb-pay-btn,
.cb-delete-btn {
  font-size: 1.3rem;
  margin: 5rem 0 1rem 0;
  border-radius: 10px;
  width: 100%;
  justify-content: center;
  // margin-top: 0;
}
.cb-pay-btn {
  margin-top: 1rem;
  background-color: #73c073 !important;
}
.cb-delete-btn {
  color: rgb(134, 131, 131) !important;
  background-color: #ebf6fb !important;
  border: solid 1px rgb(199, 197, 197);
  margin-top: 1rem;
  width: 100%;
}
.cb-gallery-btn {
  margin-top: 1rem;
  background-color: #df485b !important;
  width: 100%;
  font-size: 1.3rem;
  border-radius: 10px;
  justify-content: center;
}
