@media only screen and (min-width: 570px) {
  .amount,
  .article-qty-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  // .price-container {
  //   align-items: center;
  //   width: 100%;
  // }
}

@media only screen and (min-width: 770px) {
  .amount,
  .article-qty-container {
    flex-direction: row;
  }
}
.amount-cont {
  flex-direction: row;
  display: flex;
}
.article-qty-plus {
  width: 60px;
}
.article-qty-minus {
  margin-bottom: 0;
  width: 60px;
}
.cartItem-imge {
  object-position: center;
  width: 120px;
  height: 120px;
}
.article-info {
  flex-direction: column;
  /* align-items: flex-start; */
  text-align: center;
  gap: 10px;
}
.ci-article-qty {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 690px) {
  .article-title {
    font-size: 1rem;
  }
  .article-desc {
    font-size: 12px;
  }
}
.ct-card-items {
  flex-direction: column;
}
@media only screen and (min-width: 300px) {
  .ct-card-items {
    flex-direction: column !important;
  }
}
@media only screen and (min-width: 570px) {
  .ct-card-items {
    flex-direction: row !important;
  }
}
.article-amount {
  display: flex;
  flex-direction: column;
}
.delete-btn {
  text-decoration: none !important;
  background-color: #555b61;
}
.delete-btn,
.ci-gallery-btn {
  // color: rgb(255, 255, 255) !important;
  width: 50%;
  justify-content: center;
  margin: 10px;
  background-color: transparent !important;
  border: 1px solid rgb(212, 207, 207) !important;
  color: rgb(28, 26, 26) !important;
  text-decoration: none !important;
  box-shadow: rgba(123, 123, 179, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(87, 132, 177, 0.35) 0px -2px 6px 0px inset;
}

.delete-btn:hover {
  cursor: pointer;
  background-color: #8d4856;
  color: rgb(255, 255, 255);
}
.ci-gallery-btn:hover,
.delete-btn:hover {
  border: solid 1.8px #cc0b32 !important;
  color: #cc0b32 !important;
}

.plus-btn,
.minus-btn {
  font-weight: bold;
  font-size: 1.7rem;
  text-decoration: none;
  color: black !important;
}
.qty-a {
  text-decoration: none;
}
.price-a {
  color: rgb(130, 152, 145);
}
