.catalog_container {
  margin: 1.2rem 1.2rem;
}
@media only screen and (max-width: 800px) {
  .catalog_container {
    margin: 15px 15px;
  }
}
.catalog-title {
  position: relative;
  font-family: "Sofia";
  font-size: 2.3rem;
  color: #000;
  text-align: center;
  display: grid;
  justify-items: center;

  grid-template-rows: 1fr 2rem;
}
@media only screen and (min-width: 670px) {
  .catalog-title {
    position: relative;
  }
}

.catalog-subtitle {
  color: #9c9898;
  font-family: "Patrick Hand";
  font-size: 1rem;
  position: absolute;
  top: 50%;
  padding-top: 10px;
  /* left: 50%; */
}

/* Diese Einstellungen gelten fuer alle, auch fuer das handy!*/
.catalogItems_container {
  display: grid;
  /* grid-gap:  */
  grid-template-columns: 1fr;
  /* justify-items: center; */
  margin: 1rem 1rem;
  row-gap: 1rem;
}

/* min-width bedeutet: Ab 670px wird es 1fr 1fr gelten */

/* min: ab 320px */
@media only screen and (min-width: 420px) {
  .catalogItems_container {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
  }
}

@media only screen and (min-width: 670px) {
  .catalogItems_container {
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 2.5rem; */
  }
}
/* min-wid heißt ab 979px */
@media only screen and (min-width: 979px) {
  .catalogItems_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
}
@media only screen and (min-width: 1420px) {
  .catalogItems_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
}
@media only screen and (min-width: 1820px) {
  .catalogItems_container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
  }
}
