.sv-btns {
  width: 100%;
  margin-top: 1rem;
  box-shadow: none;
  text-align: center;
}
// .sv-img-container {
  // margin-top: 1rem;
// }

/* min heißt ab 1024 px */
@media only screen and (min-width: 1024px) {
  .singleview-base-container {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 1000px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .singleview-base-container {
    margin: 5rem 2rem 0 2rem;
  }
}
.sv-article-conatiner {
  flex-direction: row;
  padding: 1rem 1rem;
  gap: 1rem;
}
@media only screen and (max-width: 690px) {
  .sv-article-conatiner {
    flex-direction: column;

  }
  .sv-img {
    width: 300px;
    height: 300px;
  }
  .sv-left-container {
    border-bottom: solid 2px #f5f5efc4;
  }
}
.singleview-title {
  position: relative;
  font-family: "Sofia";
  font-size: 2.3rem;
  color: #000;
  display: grid;
  justify-items: center;
  text-align: center;

  grid-template-rows: 1fr 2rem;
  margin: 2rem 0 2rem 0;
}
.sv-left-container,
.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sv-img {
  object-position: center;
  // width: 90%;
  // height: 90%;
}

.rate-btn,
.gly-btn,
.edit-btn {
  width: 100%;
  justify-content: center;
}
.rate-btn {
  background-color: #73c073 !important;
}
.gly-btn {
  background-color: #df485b;
  margin-bottom: 0;
  color: rgb(255, 255, 255);
}
.edit-btn {
  background-color: rgb(109, 169, 237);
  color: #000;
}
.rate-btn-container {
  padding: 1rem 0;
}