.items-container {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1100px;
  background-color: white;
  gap: 1rem;
}

@media only screen and (max-width: 641px) {
  .items-container {
    flex-direction: column;
  }
  .carousel-btns_box,
  .image-infos {
    width: 100% !important;
  }
}

.item-container_title {
  margin: 2rem 0 2rem 0;
  position: relative;
  font-family: "Sofia";
  font-size: 2.3rem;
  color: #000;
  text-align: center;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr 2rem;
}
@media only screen and (min-width: 670px) {
  .item-container_title {
    position: relative;
  }
}
.embla-carousel_box {
  width: 100%;
}
.item-subtitle {
  color: #9c9898;
  font-family: "Patrick Hand";
  font-size: 1rem;
  position: absolute;
  top: 50%;
  padding-top: 10px;
  // left: 50%;
}
.image-color,
.image-size,
.image-desc {
  flex-direction: column;
}
.image-color_title,
.image-size_title,
.image-desc_title,
.description-div,
.colors,
.sizes {
  justify-content: left;
}
.image-color_title,
.image-size_title {
  padding-bottom: 0;
}
.color-btn,
.size-btn {
  background-color: transparent;
  border-radius: 10px;
  margin-bottom: 0 !important;
}
.image-desc_subtitle,
.price-container {
  justify-content: left;
}
.price-container {
  background-color: #dad1d2de;
  border-radius: 0.5rem;
}
.card-footer-item:not(:last-child) {
  border-right: 0;
}
.buttons {
  gap: 0.5rem;
}
.image-btns {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  bottom: 2%;
}
@media only screen and (max-width: 1025px) {
  .image-btns {
    position: relative;
  }
}
.carousel {
  width: 100%;
  background-color: #f7f7f7;
}
.carousel-btns {
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
  position: absolute;
  bottom: 50%;
}
.add-btn,
.carousel-btn_back,
.carousel-btn_next {
  justify-content: center;
  margin: 0 5px;
  // border: none;
  box-shadow: rgba(123, 123, 179, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(87, 132, 177, 0.35) 0px -2px 6px 0px inset;
}
.carousel-btn_back,
.carousel-btn_next {
  // background-color: #f2eaea !important;
  display: flex;
  padding: 0 !important;
  width: 12%;
  border-radius: 45%;
  // justify-content: center !important;
  // margin: 0 2rem;
}
.carousel-btn_back > img,
.carousel-btn_next > img {
  padding: 8px;
  // color: #df485b;
}
.carousel-btn_img {
  width: 50%;
}
.image-infos {
  background-color: #f7f7f7;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
@media only screen and (max-width: 641px) {
  .images-info {
    gap: 0rem;
  }
}

.add-btn {
  width: 100%;
  border: 1px solid rgb(212, 207, 207) !important;
  color: rgb(28, 26, 26) !important;
  text-decoration: none !important;
  margin: 10px;
}

.add-toCart_btn {
  background-color: #df485b !important;
  color: #fff !important;
  justify-content: center;
  font-size: 1rem;
  width: 100%;
}
.image-desc_id {
  justify-content: left;
  margin-bottom: 0 !important;
}

.carousel-btns_box {
  width: 50%;
  position: relative;
  // background-color: #f7f7f7;
  // padding: 20px;
}
.carousel {
  position: relative;
}

.carousel-group {
  display: flex;
  justify-content: center;
  padding: 1rem 0 5px 0;
}
.carousel__dot {
  background-color: rgb(57, 56, 56);
  margin-bottom: 0;
  border-radius: 1.5rem;
  margin-left: 0.1rem;
  width: 3rem;
  font-size: 8px;
}
.image-price {
  margin-top: 1.5rem;
}